{{- $portalSecretName := include "authgear.namePortal" . }}
{{- if .Values.authgear.tls.portal.secretName }}
{{- $portalSecretName = .Values.authgear.tls.portal.secretName }}
{{- end }}

{{- $portalAuthgearSecretName := include "authgear.namePortalAuthgear" . }}
{{- if .Values.authgear.tls.portalAuthgear.secretName }}
{{- $portalAuthgearSecretName = .Values.authgear.tls.portalAuthgear.secretName }}
{{- end }}

{{- $portalAuthgearHost := .Values.authgear.portalServer.authgear.endpoint | trimPrefix "http://" | trimPrefix "https://" }}

{{- if .Values.authgear.ingress.enabled }}

{{- if .Values.authgear.tls.portal.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "authgear.namePortal" . }}
  annotations:
    kubernetes.io/ingress.class: {{ .Values.authgear.ingress.class | quote }}
  labels:
    {{- include "authgear.labels" . | nindent 4 }}
spec:
  {{- if .Values.authgear.tls.portal.ingress.tls.enabled }}
  tls:
  - secretName: {{ $portalSecretName | quote }}
    hosts:
    - {{ include "authgear.portalHost" . | quote }}
  {{- end }}
  rules:
  - host: {{ include "authgear.portalHost" . | quote }}
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ include "authgear.namePortal" . | quote }}
            port:
              name: http
{{- end }}

{{- if .Values.authgear.certManager.enabled }}
{{- if .Values.authgear.tls.portal.certManager.enabled }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "authgear.namePortal" . }}
  labels:
    {{- include "authgear.labels" . | nindent 4 }}
spec:
  secretName: {{ $portalSecretName | quote }}
  dnsNames:
  - {{ include "authgear.portalHost" . | quote }}
  issuerRef:
    name: {{ .Values.authgear.certManager.issuer.http01.name | quote }}
    kind: {{ .Values.authgear.certManager.issuer.http01.kind | quote }}
    group: {{ .Values.authgear.certManager.issuer.http01.group | quote }}
{{- end }}
{{- end }}


{{- if .Values.authgear.tls.portalAuthgear.ingress.enabled }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "authgear.namePortalAuthgear" . }}
  annotations:
    kubernetes.io/ingress.class: {{ .Values.authgear.ingress.class | quote }}
    nginx.ingress.kubernetes.io/proxy-body-size: 10m
  labels:
    {{- include "authgear.labels" . | nindent 4 }}
spec:
  {{- if .Values.authgear.tls.portalAuthgear.ingress.tls.enabled }}
  tls:
  - secretName: {{ $portalAuthgearSecretName | quote }}
    hosts:
    - {{ $portalAuthgearHost | quote }}
  {{- end }}
  rules:
  - host: {{ $portalAuthgearHost | quote }}
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ include "authgear.nameMain" . | quote }}
            port:
              name: http
      - path: /_api/admin
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ include "authgear.nameAdmin" . | quote }}
            port:
              name: http
      - path: /_resolver
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ include "authgear.nameResolver" . | quote }}
            port:
              name: http
      - path: /_images
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ include "authgear.nameImages" . | quote }}
            port:
              name: http
{{- end }}

{{- if .Values.authgear.certManager.enabled }}
{{- if .Values.authgear.tls.portalAuthgear.certManager.enabled }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "authgear.namePortalAuthgear" . }}
  labels:
    {{- include "authgear.labels" . | nindent 4 }}
spec:
  secretName: {{ $portalAuthgearSecretName | quote }}
  dnsNames:
  - {{ $portalAuthgearHost | quote }}
  issuerRef:
    name: {{ .Values.authgear.certManager.issuer.http01.name | quote }}
    kind: {{ .Values.authgear.certManager.issuer.http01.kind | quote }}
    group: {{ .Values.authgear.certManager.issuer.http01.group | quote }}
{{- end }}
{{- end }}

{{- end }}
