authgear:
  appNamespace: "authgear-apps"

  databaseURL: postgres://localhost
  databaseSchema: public

  redisURL: redis://localhost

  stripe:
    secretKey: ""
    webhookSigningKey: ""
    cronjob:
      enabled: false
      # Stripe cronjob runs after usage record cronjob.
      schedule: "0 3 * * *"

  usageRecord:
    cronjob:
      enabled: false
      schedule: "0 2 * * *"

  configSourceType: "database"
  trustProxy: "true"
  logLevel: "info"
  sentryDSN: ""

  ingress:
    enabled: true
    class: nginx

  certManager:
    enabled: true
    issuer:
      dns01:
        name: __replace_me__
        kind: Issuer
        group: cert-manager.io
      http01:
        name: __replace_me__
        kind: Issuer
        group: cert-manager.io

  tls:
    wildcard:
      secretName: ""
    portal:
      secretname: ""
    portalAuthgear:
      secretName: ""

  baseHost: __replace_me__

  smtp:
    host: __replace_me__
    port: 587
    mode: normal
    username: ""
    password: ""

  elasticsearch:
    enabled: false
    url: http://localhost:9200

  twilio:
    accountSID: ""
    authToken: ""
    messageServiceID: ""

  nexmo:
    apiKey: ""
    apiSecret: ""

  whatsappWATI:
    enabled: false
    whatsappPhoneNumber: ""
    webhookAuth: ""

  auditLog:
    enabled: false
    cronjob:
      enabled: false
      schedule: "0 0 * * *"
    databaseURL: postgres://localhost
    databaseSchema: public

  analytic:
    enabled: false
    redisURL: __replace_me__
    epoch: ""
    cronjob:
      weeklySchedule: "0 1 * * 1"
      monthlySchedule: "10 1 1 * *"
      dailySchedule: "20 1 * * *"

    googleSpreadsheet:
      enabled: false
      id: ""
      range:
        userWeeklyReport: ""
        projectMonthlyReport: ""
      secret:
        mountPath: ""
        volume: {}

  mainServer:
    image: __replace_me__
    replicas: 1
    env: {}
    nodeSelector: {}
    nodeName: ""
    affinity: {}
    tolerations: []
    topologySpreadConstraints: []
    resources:
      requests:
        cpu: 100m
        memory: 64Mi
      limits:
        cpu: 500m
        memory: 256Mi
    livenessProbe:
      httpGet:
        path: /healthz
        port: http
    readinessProbe:
      httpGet:
        path: /healthz
        port: http

  adminServer:
    replicas: 1
    nodeSelector: {}
    nodeName: ""
    affinity: {}
    tolerations: []
    topologySpreadConstraints: []
    resources:
      requests:
        cpu: 100m
        memory: 32Mi
      limits:
        cpu: 500m
        memory: 256Mi
    livenessProbe:
      httpGet:
        path: /healthz
        port: http
    readinessProbe:
      httpGet:
        path: /healthz
        port: http

  resolverServer:
    replicas: 1
    nodeSelector: {}
    nodeName: ""
    affinity: {}
    tolerations: []
    topologySpreadConstraints: []
    resources:
      requests:
        cpu: 100m
        memory: 32Mi
      limits:
        cpu: 500m
        memory: 256Mi
    livenessProbe:
      httpGet:
        path: /healthz
        port: http
    readinessProbe:
      httpGet:
        path: /healthz
        port: http

  background:
    replicas: 1
    nodeSelector: {}
    nodeName: ""
    affinity: {}
    tolerations: []
    topologySpreadConstraints: []
    resources:
      requests:
        cpu: 100m
        memory: 32Mi
      limits:
        cpu: 300m
        memory: 64Mi

  imagesServer:
    replicas: 1
    cdn:
      host: ""
    objectStore:
      type: ""
      awsS3:
        region: ""
        bucketName: ""
        accessKeyID: ""
        secretAccessKey: ""
      gcpGCS:
        bucketName: ""
        serviceAccount: ""
        credentialsJSONContent: ""
      azureBlobStorage:
        storageAccount: ""
        container: ""
        accessKey: ""

    nodeSelector: {}
    nodeName: ""
    affinity: {}
    tolerations: []
    topologySpreadConstraints: []
    resources:
      requests:
        cpu: 500m
        memory: 512Mi
      limits:
        cpu: 1000m
        memory: 1Gi
    livenessProbe:
      httpGet:
        path: /healthz
        port: http
    readinessProbe:
      httpGet:
        path: /healthz
        port: http

  portalServerProxy:
    image: nginx:1.18

  portalServer:
    image: __replace_me__
    replicas: 1

    email:
      sender: ""
      replyTo: ""

    authgear:
      appID: __replace_me__
      clientID: __replace_me__
      endpoint: https://__replace_me__.example.com

    adminAPI:
      endpoint: http://cluster.local

    customDomain:
      enabled: true

    env: {}

    nodeSelector: {}
    nodeName: ""
    affinity: {}
    tolerations: []
    topologySpreadConstraints: []
    resources:
      requests:
        cpu: 100m
        memory: 64Mi
      limits:
        cpu: 500m
        memory: 256Mi
    livenessProbe:
      httpGet:
        path: /healthz
        port: portal
    readinessProbe:
      httpGet:
        path: /healthz
        port: portal

  deno:
    image: __replace_me__
    replicas: 1
    resources:
      requests:
        cpu: 100m
        memory: 64Mi
      limits:
        cpu: 500m
        memory: 256Mi

  appCustomResources:
    path: ""
    volume: {}

  portalCustomResources:
    path: ""
    volume: {}

  extraVolumes: []

  extraVolumeMounts: []
